body {
  background-image: url(../src/images/FolderCapa.png);
  background-size: cover;
  background-position: screen;
  background-repeat: no-repeat;
}

img {
  width: 280px;
}

h3 {
  color: rgb(148, 5, 5);
}

p {
  padding-top: 30px;
  font-weight: 600;
}

button:hover {
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(86, 126, 49));
  color: rgb(148, 5, 5);
  padding: 15px 50px;
  width: 20vh;
  margin: 10px;
}

embed {
  display:none;
}

.button-white {
  padding: 15px 50px;
  width: 20vh;
  margin: 10px;
  border-color: rgba(19, 36, 2);
  font-size: large;
  background-color: white;
  color: rgb(148, 5, 5); 
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container-game {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.header {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.button-green {
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(86, 126, 49));
  color: rgb(148, 5, 5);
  font-size: large;
  padding: 15px 50px;
  margin: 10px;
  width: 20vh;
}

.vencedor {
  background-image: linear-gradient(to right, rgb(86, 126, 49), rgba(255,0,0,0), rgb(86, 126, 49));
  color: rgb(148, 5, 5);
  font-size: x-large;
  padding: 20px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.button-play-again:hover {
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(86, 126, 49));
  color: rgb(148, 5, 5);
  font-size: medium;
  font-weight: 600;
  border-radius:5px;
  padding: 15px 70px;
  margin: 10px;
  width: 40vh;
}

.button-play-again {
  background-color: white;
  color: rgb(148, 5, 5);
  font-size: medium;
  font-weight: 600;
  border-radius:5px;
  padding: 15px 70px;
  margin: 10px;
  width: 40vh;
}
